<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>

  <meta name="description" content="{{ description or metadata.description }}">
  <meta name="generator" content="11ty">
  <meta name="theme-color" content="lightslategray">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="{{ '/tw_output.css' | url }}">
  
  {{ pageheader | safe }}
</head>

<body class="font-body leading-normal tracking-normal text-gray-900 ">
  {{ content | safe }}
</body>
</html>
