@import "tailwindcss";

@layer components {
  a {
    @apply hover:underline;
  }
}

.button {
  @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-md shadow-md;
  @apply hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-black/60;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}
